# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
.venv/
env/
.env

# --------------------
# Node / React
# --------------------
node_modules/
dist/
build/

# --------------------
# Editor / OS
# --------------------
.vscode/
.DS_Store
Thumbs.db

# --------------------
# Logs
# --------------------
*.log
